body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
	font-family: Radiance, "Noto Sans", sans-serif;
}

#draft-panel {
	display: grid;
	grid-template-rows: 1fr 1fr;
	height: 100%;
	width: 100%;
}

#selected-hero {
	height: 100%;
	width: 100%;
	display: grid;
	align-content: start;
	justify-content: center;
}

video {
	height: 35vh;
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Reaver, serif;
}

footer.action-bar {
	align-self: end;
	display: flex;
	align-content: center;
	justify-content: space-between;
}

footer.action-bar > button {
	text-transform: uppercase;
	font-family: Radiance, "Noto Sans", sans-serif;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
}

li.str {
	background: linear-gradient(to bottom, white, #EC3D06);
}

li.agi {
	background: linear-gradient(to bottom, white, #26E030);
}

li.int {
	background: linear-gradient(to bottom, white, #01D9EC);
}

li.all {
	background: linear-gradient(to bottom, #26e030, #87c800, #b3ad00, #ce9100, #dd7300, #d07c00, #c28400, #b58a00, #8ca835, #5abe74, #00ceb5, #01d9ec);
}

.herolist {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
}

.hero {
	background: red;
	border: 1px solid black;
}

#search {
	margin: auto;
	max-width: 40vw;
	width: 30em;
}

#herolist {
	overflow: auto;
}

#heroes {
	display: grid;
	grid-template-rows: 3em 1fr;
	max-height: 50vh;
}

#herolist > li:not([hidden]) {
	list-style: none;
	display: inline-block;
	margin: 5px;
	border: 1px solid black;
	border-radius: 3px;
	width: 140px;
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.hero-list-figure {
	max-width: 100%;
	margin: 0 0 5px;
}

.hero-list-figure img {
	width: 100%;
}

.hp-bar, .mana-bar {
	text-shadow: 1px 1px 2px black;
	color: white;
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}

.hp-bar > span:first-child, .mana-bar > span:first-child {
	position: absolute;
	text-align: center;
	width: 100%;
}

.hp-bar > span:last-child, .mana-bar > span:last-child {
	flex-grow: 1;
	text-align: end;
	padding-right: 15%;
	opacity: 0.75;
}

.hp-bar {
	background: linear-gradient(to right, #286323, #7AF03C);
}

.mana-bar {
	background: linear-gradient(to right, #1056DB, #73F5FE);
}

.attr-container {
	display: flex;
	margin: 15px 0;
	justify-content: space-around;
}

.attr-container > span {
	display: flex;
	align-items: center;
}

@media (max-width: 800px) {
	#search {
		max-width: 100vw;
	}
}
